* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
}

:root {
  --background-color: rgb(255, 255, 187);
}

.container {
  position: relative;
  width: 90%;
  max-width: 1100px;
  background-color: var(--background-color);
  margin: auto;
  margin-top: 100px;
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.164);
  grid-column: 1 / -1;
}

.grid-view,
.list-view {
  margin-left: 20px;
  cursor: pointer;
}

.grid-view:hover .grid-view__dot {
  border: 2px solid rgb(16, 60, 190);
}
.list-view:hover .list-view__line {
  background-color: rgb(16, 60, 190);
}

.view--active .grid-view__dot {
  border: 2px solid rgb(16, 60, 190);
}
.view--active .list-view__line {
  background-color: rgb(16, 60, 190);
}


.grid-view {
  display: grid;
  grid-template-columns: repeat(3, 8px);
  grid-template-rows: repeat(3, 8px);
  row-gap: 6px;
  column-gap: 6px;
}

.grid-view__dot {
  border: 2px solid rgba(0,0,0,.7);
}

.list-view {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.list-view__line {
  width: 36px;
  height: 8px;
  background-color: rgba(0,0,0,.7);
}



.images-view {
  display: grid;
  grid-template-rows: max-content;
  grid-auto-rows: 200px;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  padding-bottom: 300px;
}

.images__image {
  overflow: hidden;
}

.images__image img {
  width: 300px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.images-view--grid {
  grid-template-columns: repeat(auto-fill, 270px);
}

.images-view--list {
  grid-template-columns: 1fr;
}

.loader-overlay {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
}

.loader-bar {
  background-color: rgba(14, 120, 190, 0.76);
  width: 50px;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: -25px 5px;
  animation: light-bar .8s infinite;
}

.loader-bar:nth-child(1) {
  transform: translate(50%, 50%) rotate(0deg);
  animation-delay: -0.7s;
}
.loader-bar:nth-child(2) {
  transform: translate(50%, 50%) rotate(45deg);
  animation-delay: -0.6s;
}
.loader-bar:nth-child(3) {
  transform: translate(50%, 50%) rotate(90deg);
  animation-delay: -0.5s;
}
.loader-bar:nth-child(4) {
  transform: translate(50%, 50%) rotate(135deg);
  animation-delay: -0.4s;
}
.loader-bar:nth-child(5) {
  transform: translate(50%, 50%) rotate(180deg);
  animation-delay: -0.3s;
}
.loader-bar:nth-child(6) {
  transform: translate(50%, 50%) rotate(225deg);
  animation-delay: -0.2s;
}
.loader-bar:nth-child(7) {
  transform: translate(50%, 50%) rotate(270deg);
  animation-delay: -0.1s;
}
.loader-bar:nth-child(8) {
  transform: translate(50%, 50%) rotate(315deg);
  animation-delay: -0.0s;
}

@keyframes light-bar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader-overlay--active {
  display: block;
}